@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root,
.app {
  position: relative;
  height: auto;
  min-height: 100% !important;
	width: 100%;
  border-color: rgb(255,255,255);
  border-width: 0.2rem;
	font-family: "DM Sans", sans-serif;
	color: rgb(0,0,0);
} */

html,
body,
#root,
.app {
  position: relative;
  height: 100%;
	width: 100%;
	font-family: "DM Sans", sans-serif;
	color: rgb(0,0,0);
}

/* <weight>: Use a value from 200 to 800 */
.karla-300 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}


/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 */
.cormorant-600 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
}



.section-padding {
  padding: 1.5rem;
}

@media screen and (min-width: 768px){
  .section-padding {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .backgroundImageCarousell {
    position: absolute;
    top: 0;
  }
}

.backgroundImageCarousell {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.backgroundImageCarousell img {
  height: 100%;
  object-fit: cover;
}

.backgroundImageCarousell > div > div {
  border-radius: 0rem;
}

#beautifulPlaceContainerDiv {
  background-image: url("../src/assets/beautifulPlaceImage.jpg");
  min-height: 100% !important;
  /* Create the parallax scrolling effect */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media screen and (max-width: 767px) {
  .backgroundImageCarousell {
      height: calc(100% - 114px - 2.5rem - 5px);
  }

  #beautifulPlaceContainerDiv {
    background-image: url("../src/assets/beautifulPlaceImage.jpg");
    min-height: 100% !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}